body {
    background: #EDF5FD;
}

h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: #878787;
    font-size: 16px;
    line-height: 19px; 
}

hr {
    opacity: 0.1;
}

.container {
    max-width:600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #878787;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    font-family: 'Arimo', sans-serif;
}

.weather-app .form-control {
    padding: 15px 20px;
    background: #EDF5FD;
    border: none;
    border-radius: 6px;
}

.btn {
    background: #56a0ee;
    padding: 15px 0;
    color: #fff;
    border: none;
    font-weight: 600;
    letter-spacing: .5px;
}

.btn:hover {
    background: #358FE9;
}

.condition {
    margin-bottom: 10px;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: unset;

}

#icon{
    margin-top: 5px;
}

.weather-app .temp {
    font-size: 64px;
    font-weight: 400;
}

.units {
    display: flex;
    align-items:flex-start;
    height: 100%;
    padding-top:15%;
    text-decoration: none;
}

.units a {
    text-decoration: none;
    color: #878787;
    padding: 1px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.weather-forecast-temp {
    padding-bottom: 10px;
}

.weather-forecast-temp-min {
    opacity: 0.5;
}

.weather-app footer {
    opacity: 0.7;
    text-align: center;
}

.weather-app footer a {
    color: #56a0ee;
    text-decoration: none;
}

.weather-app footer a:hover {
    color: #358FE9;
    text-decoration: underline;
}