body {
    background: #EDF5FD;
}

h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px; 
}

.vertical-center{
    display: flex;
  justify-content: center;
  align-items: center;

}

.container {
    max-width:600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
    font-family: Helvetica, sans-serif;
}

#icon{
    margin-top: 5px;
}

.weather-app .temp {
    font-size: 64px;
    font-weight: 400;
    color: #878787;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
}

.units {
    display: flex;
    align-items:flex-start;
    height: 100%;
    padding-top:15%;
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
}

.weather-app .form-control {
    padding: 15px 20px;
    background: #EDF5FD;
    border: none;
    border-radius: 6px;
}

.btn {
    background: #56a0ee;
    padding: 15px 0;
    color: #fff;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:hover {
    background: #358FE9;
}

.link {
    color: #56a0ee;
}

.link:hover {
    color: #358FE9;
}

.fahrenheit{
    text-decoration: none;
}

.celsius {
    text-decoration: none;
}